<strong>Olá {{ student }}</strong>
<p>Estamos respondendo à sua dúvida</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    Estamos sempre a disposição!!!
  </small>
</p>
